
h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
p{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    font-size: 10px;
}
html{
    background-color: black;
}
#hint{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: 5px solid white;
}